
{% extends "website/base.html" %}

{% block content %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>RESPONSIVE PRODUCT DESIGN</title>
</head>

<body>

    <div class="row text-center">
        <div class="col-12">
            <p class="lead">Our Premium Products</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-12 col-md-3">
            <img class="card-img-top" src="/static/img/p1.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">Sandhya Charu N</h5>
                <p class="card-text">Holder</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>

        <div class="card col-12 col-md-3">
            <img class="card-img-top" src="/static/img/p2.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">Avinas</h5>
                <p class="card-text">Chief Executive Officer</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>

        <div class="card col-12 col-md-3">
            <img class="card-img-top" src="/static/img/p3.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">Natramil Selvam R</h5>
                <p class="card-text">Manager</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>

        <div class="card col-12 col-md-3">
            <img class="card-img-top" src="/static/img/p4.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">Bharathi N</h5>
                <p class="card-text">Assistant Manager</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>

        <div class="card col-12 col-md-3">
            <img class="card-img-top" src="/static/img/p5.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">Vijayalaxmi E</h5>
                <p class="card-text">Marketing Manager</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>

        <div class="card col-12 col-md-3">
            <img class="card-img-top" src="/static/img/p6.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">Parvathi R</h5>
                <p class="card-text">Assistant Marketing Manager</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

{% endblock %}

